################################################################################
#
# Ssh configuration.
#
# ~/.ssh/config
#
# More info: https://www.librobert.net/book/internet
#
################################################################################
#
# Copyright (c) 2019 Robert LA LAU < https://www.librobert.net/ >
#
# This work is licensed under the Creative Commons Attribution 4.0 International License.
# To view a copy of this license, visit http://creativecommons.org/licenses/by/4.0/
# or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
#
################################################################################

AddKeysToAgent yes
CheckHostIP yes
StrictHostKeyChecking ask
TCPKeepAlive yes
UpdateHostKeys ask
VisualHostKey yes

Host grn
 HostName green.example.com
 User dimitri
 IdentityFile /home/dimitri/.ssh/id_rsa-green
 SetEnv EnvVar=something

Host blu
 HostName blue.example.com
 Port 2022
 User dim
 IdentityFile /home/dimitri/.ssh/id_rsa-blue
